### IBM - Data Science - Capstone Project Notebook

In [ ]:
!pip install beautifulsoup4
!pip install lxml

In [1]:
import pandas as pd
import numpy as np
import requests

### Part 1 - parse Toronto Neighbourhood and post code wiki

In [15]:
# Load Toronto Neighbourghoods and postal codes wiki
page = requests.get("http://zims-en.kiwix.campusafrica.gos.orange.com/wikipedia_en_all_nopic/A/List_of_postal_codes_of_Canada:_M")

In [18]:
# Parse and Convert into dataframe
from bs4 import BeautifulSoup
soup = BeautifulSoup(page.content, 'lxml')
tab = str(soup.table)
dfs = pd.read_html(tab)
df=dfs[0]

In [26]:
# Clean up naming as per assignment suggestions
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [35]:
# Drop records with not assigned boroughs
df = df[df.Borough != 'Not assigned']

#Rename columns to match assignment
df.rename(columns={'Postcode':'Postal Code'},inplace=True)

In [36]:
df

    Postal Code           Borough          Neighbourhood
2           M3A        North York              Parkwoods
3           M4A        North York       Victoria Village
4           M5A  Downtown Toronto           Harbourfront
5           M6A        North York       Lawrence Heights
6           M6A        North York         Lawrence Manor
..          ...               ...                    ...
282         M8Z         Etobicoke              Mimico NW
283         M8Z         Etobicoke     The Queensway West
284         M8Z         Etobicoke  Royal York South West
285         M8Z         Etobicoke         South of Bloor
287         NaN               NaN                    NaN

[211 rows x 3 columns]

In [30]:
df.shape

(211, 3)

### Part 2 - enrich neighbourhoods with locations

In [33]:
geoloc = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0701EN-SkillsNetwork/labs_v1/Geospatial_Coordinates.csv')
geoloc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [37]:
df_with_loc = pd.merge(df,geoloc,on='Postal Code')
df_with_loc.head()

  Postal Code           Borough     Neighbourhood   Latitude  Longitude
0         M3A        North York         Parkwoods  43.753259 -79.329656
1         M4A        North York  Victoria Village  43.725882 -79.315572
2         M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3         M6A        North York  Lawrence Heights  43.718518 -79.464763
4         M6A        North York    Lawrence Manor  43.718518 -79.464763